
    <div>
        <img src="./images/beer.png" alt="beerimg" class ="imgbeer">
    </div>
    <div>
        <button id="checkBeer" type="button"><a class="buttontext" href="/beers">Check the Beers!</button></a>
        <button id="checkRandom" type="button"><a class="buttontext" href="/randomBeer">Check a Random Beer</button></a>
    </div>