                                        body {
                                            margin: 0;
                                            font-family: Arial;
                                        }
                                        
                                        #navbarNav {
                                            background-color: #408bbd;
                                        }
                                        
                                        .nav-link {
                                            color: #bfbfbf;
                                        }
                                        
                                        .card-title,
                                        h3 {
                                            background-color: green;
                                            font-size: 20px;
                                            font-weight: 900;
                                        }
                                        
                                        h4 {
                                            background-color: red;
                                            font-size: 13px;
                                            color: #bfbfbf
                                        }
                                        
                                        .card-text,
                                        h5 {
                                            background-color: rgb(0, 94, 255);
                                            font-size: 12px;
                                        }
                                        
                                        .card-body h4 {
                                            background-color: red;
                                            font-size: 13px;
                                            color: #bfbfbf
                                        }
                                        
                                        .imgbeer {
                                            display: block;
                                            margin: auto;
                                            padding: 150px;
                                            height: 500px;
                                            width: 500px;
                                        }
                                        
                                        #checkBeer,
                                        #checkRandom {
                                            display: block;
                                            margin: auto;
                                            display: flex;
                                            flex-direction: column;
                                            text-align: center;
                                            background-color: #2081c3;
                                            padding: 8px;
                                        }
                                        
                                        #checkRandom {
                                            margin-top: 20px;
                                        }
                                        
                                        .buttontext {
                                            color: #f7f9f9;
                                            text-decoration: none;
                                        }
                                        
                                        .eachBeer {
                                            display: flex;
                                            justify-content: space-evenly;
                                            flex-direction: row;
                                            flex-wrap: wrap;
                                        }
                                        
                                        .container {
                                            margin: 50px 1% 0 1%;
                                            padding: 10px;
                                            width: 25%
                                        }
                                        
                                        .container img {
                                            display: block;
                                            margin: auto;
                                            height: 120px;
                                            width: 35px;
                                        }
                                        
                                        .container h3,
                                        h5 {
                                            margin-top: 20px;
                                            margin-bottom: auto;
                                        }
                                        
                                        .card {
                                            display: flex;
                                            flex-direction: row;
                                            height: 400px;
                                            width: 1500px;
                                            margin: 8em;
                                            padding: 10px;
                                        }
                                        
                                        .card img {
                                            align-items: center;
                                            justify-content: center;
                                            margin: 3em;
                                            height: 180px;
                                            width: 45px;
                                        }
                                        
                                        .card-body {
                                            margin: 3em;
                                            height: 20px;
                                            width: 80px;
                                        }